<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Product</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />-->
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header"></div>
<br /><br /><br />
<div class="container mt-5">
    <h1 class="text-center">Add Purchase Product</h1>
    <div th:if="${param.success}">
        <div class="alert alert-info">
            Product is added successfully!
        </div>
    </div>
    <form th:action="@{/products/purchase/save}" th:object="${product}" method="post">
        <div class="form-group mb-3">
            <label class="form-label" for="name">Product Name:</label>

            <select   class="form-control" id="unit" name="unit" th:field="*{unit}" required>
                <option value="GM">Milk</option>
                <option value="KG">	Ice</option>
                <option value="L">Sugar</option>
                <option value="PC">Sweet Water</option>
                <option value="PC">Strawberries</option>
                <!-- Add more unit options as needed -->
            </select>
            <!--<input  class="form-control" type="text" id="name" name="name" th:field="*{name}" placeholder="Enter name" required />
            <p th:errors = "*{name}" class="text-danger"
               th:if="${#fields.hasErrors('name')}"></p> -->
        </div>

        <div class="form-group mb-3">
            <label class="form-label" for="price">Price:</label>
            <input  class="form-control" type="number" id="price" name="price"  th:field="*{price}" step="10" required />
            <p th:errors = "*{price}" class="text-danger"
               th:if="${#fields.hasErrors('price')}"></p>
        </div>

        <div class="form-group mb-3">
            <label class="form-label" for="quantity">Quantity:</label>
            <input  class="form-control" type="number" id="quantity" name="quantity" th:field="*{quantity}" step="1" required />
            <p th:errors = "*{quantity}" class="text-danger"
               th:if="${#fields.hasErrors('quantity')}"></p>
        </div>

        <div class="form-group mb-3">
            <label class="form-label" for="unit">Unit:</label>
            <select   class="form-control" id="unit" name="unit" th:field="*{unit}" required>
                <option value="GM">Gram</option>
                <option value="KG">Kilogram</option>
                <option value="L">Liter</option>
                <option value="PC">Piece</option>
                <!-- Add more unit options as needed -->
            </select>
            <p th:errors = "*{unit}" class="text-danger"
               th:if="${#fields.hasErrors('unit')}"></p>
        </div>



        <button type="submit">Add Product</button>
    </form>
    <br> <br> <br>
    <a class="btn btn-success" th:href="@{/products/purchase/list}">Back to product List</a>
</div>
</body>
</html>
<div th:replace="fragments/footer :: footer"></div>
