<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap-select/css/bootstrap-select.min.css}" />
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />-->
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap-select/js/bootstrap-select.min.js}"></script>
</head>

</head>
<body>
<div th:replace="fragments/header :: header"></div>
<br /><br /><br />
<div class="container">
    <div class="row col-md-12 offset-md-2">
        <div class="card" style="width: 400px;">
            <div class="card-header">
                <h2 class="text-center">Registration</h2>
            </div>
            <div th:if="${param.success}">
                <div class="alert alert-info">
                    You have cessfully save the information!
                </div>
            </div>
            <div th:if="${param.danger}">
                <div class="alert alert-danger">
                   User not found with this ID!
                </div>
            </div>
            <div class="card-body">
                <form
                        method="POST"
                        role="form"
                        th:action="@{/update/user/{id}(id=${user.id})}"
                        th:object="${user}"
                >
                    <div class="form-group mb-3">
                        <label class="form-label">First Name</label>
                        <input
                                class="form-control"
                                id="firstName"
                                name="firstName"
                                placeholder="Enter first name"
                                th:field="*{firstName}"
                                type="text"
                        />
                        <p th:errors = "*{firstName}" class="text-danger"
                           th:if="${#fields.hasErrors('firstName')}"></p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Last Name</label>
                        <input
                                class="form-control"
                                id="lastName"
                                name="lastName"
                                placeholder="Enter last name"
                                th:field="*{lastName}"
                                type="text"
                        />
                        <p th:errors = "*{lastName}" class="text-danger"
                           th:if="${#fields.hasErrors('lastName')}"></p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Email</label>
                        <input
                                class="form-control"
                                id="email"
                                name="email"
                                placeholder="Enter email address"
                                th:field="*{email}"
                                type="email"
                        />
                        <p th:errors = "*{email}" class="text-danger"
                           th:if="${#fields.hasErrors('email')}"></p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Password</label>
                        <input
                                class="form-control"
                                id="password"
                                name="password"
                                placeholder="Enter password"
                                th:field="*{password}"
                                type="password"
                        />
                        <p th:errors = "*{password}" class="text-danger"
                           th:if="${#fields.hasErrors('password')}"></p>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Roles</label>
                        <select class="form-control" id="roles" name="roles" multiple="multiple">
                            <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"
                                    th:checked="${user.roles.contains(role)}"
                                    th:style="${user.roles.contains(role) ? 'background-color: yellow;' : ''}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Update</button>
<!--                        <span>Already registered? <a th:href="@{/login}">Login here</a></span>-->
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        // Initialize Bootstrap Select
        $(document).ready(function () {
            $('.selectpicker').selectpicker();
        });
    </script>
</div>
</body>
</html>
<div th:replace="fragments/footer :: footer"></div>